@model List<Outcome>

@{
    ViewData["Title"] = "Wydatki";
}
<h3>@ViewData["Message"]</h3>

<div class="card">
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></span>
            <table class="table table-bordered table-responsive-md table-striped text-center" id="dtBasicExample">
                <thead>
                    <tr>
                        <th class="th-sm text-center">
                            Nazwa wydatku
                        </th>
                        <th class="th-sm text-center">
                            Kwota
                        </th>
                        <th class="th-sm text-center">
                            Kategoria
                        </th>
                        <th class="th-sm text-center">
                            Data
                        </th>
                        <th class="th-sm text-center">
                            Usuń
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="5">Brak wpisów</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="pt-5-half" contenteditable="true">@Html.DisplayFor(m => item.OutcomeName)</td>
                            <td class="pt-5-half" contenteditable="true">@Html.DisplayFor(m => item.OutcomeValue)</td>
                            <td class="pt-5-half" contenteditable="true">@Html.DisplayFor(m => item.OutcomeCategory)</td>
                            <td class="pt-5-half" contenteditable="true">@Html.DisplayFor(m => item.OutcomeDate)</td>
                            <td>
                                <span>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeCategory-@item.OutcomeName.Replace(" ","")">Usuń</button>
                                </span>
                                <div class="modal fade" id="removeCategory-@item.OutcomeName.Replace(" ","")">
                                    <form asp-action="Remove" id="RemoveCategory-@item.OutcomeName.Replace(" ","")">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Czy na pewno chcesz usunąć kategorię <label>@item.OutcomeName</label>?</h4>
                                                    <input asp-for="@item" type="hidden" value="@item.OutcomeName" />
                                                </div>
                                                <div class="modal-footer ">
                                                    <input type="submit" class="btn btn-primary" value="Usuń" />
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial(@"~/Views/Shared/_PartialAddOutcomeView.cshtml", new Outcome("", "","",""))